Checks: 'bugprone-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type,-readability-math-missing-parentheses,-readability-identifier-length,-readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: '^vendor/.*'
FormatStyle: none
CheckOptions:
  - key: modernize-use-around-move.AllowStdMove
    value: '1'
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3

